<input type="text" placeholder="Nombre" [(ngModel)]="site.name" #name="ngModel"><br>
<input type="text" placeholder="latitud" [(ngModel)]="site.latitude" #latitude="ngModel"> 
<input type="text" placeholder="longitud" [(ngModel)]="site.longitude" #lonfitude="ngModel">
<br>
<input type="text" name="precio" placeholder="precio" [(ngModel)]="site.price" #price="ngModel"> <br>
<input type="text" name="Sonido opcional" placeholder="sonido enlace" id="" [(ngModel)]="site.sound" #sound="ngModel"><br>
<input type="text" placeholder="Foto SOLO JPG"  [(ngModel)]="site.photos" #photos="ngModel"> <br>
<textarea [(ngModel)]="site.description" #description="ngModel">

</textarea> <br>
<button (click)="submit()">Agregar</button>